body{
}
#banner
width:100%;
}
.principal {
  Background#ccccccc;
  paddins:30px.;
}
.titulo-principal{
  padding-teft:20px:
}
titulo-centralizado{
  text-aligh:center;
}
P{
  text-aligh.center;
}
#missao{
  font-size20px;
}
