body{
}
#banner
width:100%;
}
.principal {
  Background#ccccccc;
  paddins:30px.;
}
.titulo-principal{
  padding-teft:20px:
}
titulo-centralizado{
  text-aligh:center;
}
P{
  text-aligh.center;
}
#missao{
  font-size20px;
}
em strong{
  color#FF0000;
}
.hens{
  font-styles:italico;
}
.benefícios{
  Background#FFFFFF
  Paddins20px;
}
ul{
  display:inline-block;
  vertical-aligan:top;
  width:20%
  margin-rigth 15%
}
.imagebeneficios{
  width:50%;
}
